.b-section
    &--about
        background url(../img/about-bg.png) center center no-repeat
        background-size cover
        .b-section__header
            text-align left
            margin-bottom 0
.b-about
    &__inner 
        padding 80px 40px 72px
        @media only screen and (max-width: 767px)
            display block
            padding 25px 0 25px
            position relative
    &__content
        padding 37px 0 0 
        width 228px
        max-width 100%
        
        @media only screen and (max-width: 767px)
            padding-top 13px
        
        p:first-child
            margin-top 0
        p:last-child
            margin-bottom 0
        
.b-section
    &--wright
        background url(../img/wright-us-bg.jpg) center center no-repeat
        background-size cover
        .b-section__header
            text-align center
            margin-bottom 0
.b-wright
    &__inner 
        padding 80px 40px 72px
        @media only screen and (max-width: 767px)
            display block
            padding 25px 0 25px
            position relative
            text-align center  
    &__content
        padding 47px 0 0 
        max-width 495px
        text-align center
        display flex
        flex-direction column
        margin 0 auto
        
        &-item
            display flex
            justify-content space-between
            margin-bottom 6px
            
            a
                color: #3c2e25;
            
            @media only screen and (max-width: 480px)
                display: flex
                flex-direction: column
        
        @media only screen and (max-width: 767px)
            padding-top 13px
        
        p:first-child
            margin-top 0
        p:last-child
            margin-bottom 0
.paddinbottom
    padding-bottom 0