.b-section
    &--text
        border-bottom 1px dotted rgba(160,151,144,.6)
        .b-section__header
            margin-bottom 37px
    
.b-section-text
    &__inner 
        padding 91px 0 85px
        
        @media only screen and (max-width: 767px)
            padding 40px 0
        
    &__content
        
        p:first-child
            margin-top 0
        p:last-child
            margin-bottom 0
        
.b-section
    &--toppadding
        padding-top 0
        .b-section-text
            &__inner 
                padding-top 0