.b-section
    &--contract
        border-bottom 1px dotted rgba(160,151,144,.6)
        background url(../img/contract-bg.png) center center no-repeat
        background-size auto 100%
        
.b-contract
    .b-section__header
        margin-bottom 0
    &__inner 
        padding 77px 0 85px
        @media only screen and (max-width: 767px)
            padding 50px 0
    
    &__content 
        margin 0 auto
        padding-top 35px
        text-align center
        @media only screen and (max-width: 767px)
            padding-top 18px
    
    &__text 
        color #302721
        font-size 18px
        font-weight : $fontWeight.ultra

    &__button 
        padding-top 53px
        @media only screen and (max-width: 767px)
            padding-top 25px
            width 100%
            margin 0 auto
            
            .b-button
                line-height 25px
                height auto
                padding-top 8px
                padding-bottom 8px