.b-section
    &--apps
        border-bottom 1px dotted rgba(160,151,144,.6)

.b-apps
    &__inner 
        width: 937px
        max-width 100%
        margin: 0 auto
        display flex
        padding: 73px 0 55px
        @media only screen and (max-width: 767px)
            display block
            padding 145px 0 60px
            position relative

    &__inner:after 
        content: ' '
        display: table
        clear: both

    &__left 
        width: 440px
        @media only screen and (max-width: 767px)
            width 240px
            margin 0 auto

    &__left > img 
        max-width: 100%
        height auto
        display: block
        margin-left auto
        margin-right  auto

    &__right 
        padding-top: 54px
        @media only screen and (max-width: 767px)
            padding-top 40px
            text-align center

    &__title 
        text-align left
        line-height 35px
        margin-bottom 0
        @media only screen and (max-width: 767px)
            position absolute
            text-align center
            top 50px
            width 100%
    &__list 
        padding: 36px 0 0 0
        margin: 0
        font-size 18px
        list-style: none
        font-weight: $fontWeight.ultra
        @media only screen and (max-width: 767px)
            padding-top 0
            width 410px
            max-width 100%
            margin 0 auto
            text-align left

    &__list > li 
        padding-left 22px
    
    &__list > li:before
        top 9px
        width 12px
        
    &__buttons 
        padding-top: 35px
        margin-bottom 5px
        margin-left -20px

    &__buttons p 
        font-size: 20px
        line-height: 20px
        padding: 0 0 60px 0
        margin: 0

    &__button 
        margin-left: 20px
        margin-bottom 10px
        display: inline-block
        width: 158px
        height: 56px
        vertical-align: top
        
        &:hover
            opacity .85

        &--apple {}

        &--android 
            margin-right: 0
            
    &__asterics
        font-size 14px
        font-weight: $fontWeight.ultra