.i-metro-nowrap
    white-space: nowrap;
    display: inline-block;

.i-metro 
    width 9px
    height 9px
    background-color #0d6016
    border-radius 9px
    position relative
    margin 6px 8px 0 0
    display inline-block
    vertical-align top

    &--line_1 
        background-color #44b85c

    &--line_2 
        background-color #19c1f3

    &--line_3 
        background-color #ffcb31

    &--line_4 
        background-color #a1a2a3

    &--line_5 
        background-color #f58631

    &--line_6 
        background-color #0088cc

    &--line_7 
        background-color #ed1b35

    &--line_8 
        background-color #0078bf

    &--line_9 
        background-color #8e479c

    &--line_10 
        background-color #b3d445

    &--line_11 
        background-color #894e35

    &--line_12 
        background-color #acbfe1

    &--line_13 
        background-color #cc0000

    &--line_14 
        background-color #0099cc

    &--line_15 
        background-color #0a6f20

    &--line_16 
        background-color #ff7f00

    &--line_17 
        background-color #92007b

    &--line_18 
        background-color #cc0000

    &--line_19 
        background-color #cc0000

    &--line_20 
        background-color #0a6f20

    &--line_21 
        background-color #cc0000

    &--line_22 
        background-color #cc0000

    &--line_23 
        background-color #003399

    &--line_24 
        background-color #cc0000

    &--line_25 
        background-color #ffa8af
    
.i-metro-sm 
    width 6px
    height 6px
    background-color #0d6016
    border-radius 100%
    position relative
    margin 6px 5px 0 0
    display inline-block
    vertical-align top