.b-rating
    display flex
    &__stars
        width 65px
        height 13px
        position relative
        background url(../img/rating-stars.png) left 0 no-repeat
    &__fill
        position absolute
        left 0
        top 0
        bottom 0
        background url(../img/rating-stars.png) left bottom no-repeat
    &__count
        color #8e8e8e
        font-size 12px
        margin-left 3px