.app-header
    flex none
    position relative

    .app--home &
        position absolute
        left 0
        right 0
        top 0
        z-index 1
        
    &__content
        display flex
        padding-bottom 27px
        padding-top 33px
        
        @media only screen and (max-width: 767px)
            flex-direction column
            align-items center
            padding-top 1px
            
            .app:not(.app--home) &
                align-items flex-start
        
    &__logo
        margin-right 50px
        
        flex 0 0 188px
        max-width 188px
        
        @media only screen and (max-width: 767px)
            flex none
            max-width 100%
            
            margin-top 20px
            margin-bottom 20px
            margin-right 0
        
        img 
            height auto
            max-width 100%

    &__region
        position relative
        color #4f3d32
        font-size 14px
        font-weight 400
        line-height 12px
        padding-left 27px
        margin-top 32px

        flex 0 0 220px
        max-width 220px
        
        .app--home &
            text-shadow 2px 3px 3px rgba(0, 0, 0, 0.46)
            color #cc463f
        
        @media only screen and (max-width: 767px)
            flex none
            max-width 100%
            
            margin-top 0
            margin-bottom 20px

        .fa
            position absolute
            left 0
            top -4px
            height 15px
            width 15px
            font-size 17px
            
            .app--home &
                text-shadow 1px 2px 3px rgba(0, 0, 0, 0.2)

    &__phones
        color #4f3d32
        text-align right
        
        margin-left auto
        margin-top 13px

        max-width 300px
        
        font-size 14px
        letter-spacing 0.35px
        line-height 12px
        
        .app--home &
            color #fef7ef
        
        @media only screen and (max-width: 767px)
            flex none
            max-width 100%
            
            margin 0
            
            text-align center
        
            .app:not(.app--home) &
                text-align left
        
    &__phones-title 
        margin-bottom 8px
        .app--home &
            text-shadow 2px 3px 3px rgba(0, 0, 0, 0.46)
    
    &__phone
        font : $fontWeight.black 18px $fonts.helios
        line-height 12px
        letter-spacing 0.45px
        .app--home &
            text-shadow 2px 3px 3px rgba(0, 0, 0, 0.46)

        a
            color #4f3d32
            text-decoration none

            &:hover
                color #4f3d32
                text-decoration none
            .app--home &
                color #fef7ef
                &:hover
                    color #fef7ef
                    
    &__lk
        display flex
        justify-content flex-end
        font-size 12px
        line-height 12px
        margin-top 11px
        
        img
            margin-right 4px
            position relative
            top -1px
        a 
            color #4f3d32
            text-decoration none
            margin 0 3px
            &:hover
                color #4f3d32
                text-decoration underline
                
    &__sorting-icon
        position absolute
        right 20px
        top 43px
        cursor pointer
        display none
        
        @media only screen and (max-width: 767px)
            display block

        .fa 
            width 26px
            height 26px
            fill #4f3d32
            font-size 26px

    &--fixed
        background-color #fff
        position fixed !important
        top 0
        left 0
        right 0
        z-index 101
        transform translate(0, -100%)
        box-shadow 0 0 13px 4px rgba(0, 0, 0, 0.4)

        .app-header__logo
            background url(../img/logo1.png) center center no-repeat
            img
                opacity 0
        
        .app-header__content
            padding-top 15px
        
        .app-header__region
            color #4f3d32
            text-shadow none
            .fa
                text-shadow none
        
        .app-header__phones-title
            text-shadow none
            color #4f3d32

        .app-header__phone a
            text-shadow none
            color #4f3d32
            &:hover
                color #4f3d32
            
        &_show
            transform translate(0,0)
            transition transform .3s
            
        @media only screen and (max-width: 767px)
            position absolute !important