.b-profile
    
    h1 
        margin-bottom 45px
        @media only screen and (max-width: 880px)
            margin-bottom 20px
    
    &__header
        text-align center
        margin-bottom 10px
        font-weight: $fontWeight.bold
        
    &__controls
        margin-bottom 15px
        border-bottom 1px dotted #cac2bd

    &__item
        text-align left

        input[type="text"],
        input[type="tel"],
        input[type="email"],
        input[type="passsword"]
        select,
        textarea,
        .jq-selectbox
            padding-left 15px
            padding-right 15px
            display block
            width 100%
            
            
        .jq-selectbox
            font-size 20px
            padding 0

        .jq-selectbox__select 
            padding-left 15px   
            padding-right 15px
        
             
        input[type="text"],
        input[type="tel"],
        input[type="email"],
        input[type="passsword"]
        select
            height 50px
            
        textarea
            overflow hidden
            resize none
            height 180px
        
            width 557px
            max-width 100%
            margin 0 auto
            
            @media only screen and (max-width: 940px)
                width 100%

            
        .b-profile__header
            text-align left
            
    &__item ~ &__item
        margin-top 17px
        
    &__row
        padding-bottom 7px
        
    &__row ~ &__row
        padding-top 17px
        border-top 1px dotted #cac2bd
        
    &__cols
        display flex
        align-items flex-start
        flex-wrap wrap
        margin-left -15px
        
        @media only screen and (max-width: 940px)
            display block

    &__col
        padding-left 15px
        padding-bottom 15px
        @media only screen and (max-width: 940px)
            flex none 
            max-width 100%
        &--qualifications
            padding-bottom 0
            @media only screen and (max-width: 940px)
                margin-bottom 15px
        &--3
            flex 0 0 33.33%
            max-width 33.33%
            
        &--2
            flex 0 0 66.66%
            max-width 66.66%
            
        &--2-5
            flex 0 0 50%
            max-width 50%
        &--1 
            flex 0 0 100%
            max-width 100%
        &--address
            padding-right 25px
            @media only screen and (max-width: 940px)
                padding-right 0
        &--prices
            padding-right 102px
            @media only screen and (max-width: 940px)
                padding-right 0
            .b-profile__actions
                margin-top 0
            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="password"],
            select,
            .jq-selectbox__select,
            .jq-selectbox__select-text
                height 40px
                line-height 40px
                font-size 14px
                padding-left 10px
                padding-right 10px
                
            .jq-selectbox__select
                padding-left 0
                padding-right 0
                
            .jq-selectbox__dropdown
                top 40px
                
        &--master
            
            .b-profile__item ~ .b-profile__item
                margin-top 10px
                .b-profile__header
                    margin-top 30px
            
            
    &__actions
        display flex
        justify-content flex-end
        font-size 14px
        line-height 14px
        margin-top 10px
        font-weight: $fontWeight.regular
        
    &__action
        display flex
        align-items center
        color #4f3d32
        text-decoration none
        margin-left 27px
        &:hover
            color #4f3d32
            text-decoration underline
        
        img
            margin-right 5px
            
    &__checks
        margin-top 17px
        display flex
        align-items center
        margin-left -20px
        
    &__check
        display flex
        align-items center
        color #7c6656
        font-size 14px
        line-height 14px
        margin-left 20px
        
        label 
            margin-bottom 0
            
    &__map
        height 150px
        margin-bottom 8px
        background-color #fdf5e4
        
    &__masters
        
        .b-profile__header
            display flex
            justify-content space-between
            .b-profile__actions
                margin-top 0
                
    &__save
        margin-top 40px
        text-align center
        

    &--master
        .b-profile__controls
            border-bottom none
        
        