theme_color              = #7dafc6

headlines_color          = #333
headlines_font_weight    = 600

text_color               = #333

link_color               = theme_color
link_color_hover         = theme_color
link_color_visited       = theme_color

placeholder_color        = #333
placeholder_color_focus  = transprent

contents_margins         = 30px

table_data = {
    header_background_color : theme_color,
    header_text_color       : #fff,
    header_text_weight      : 400,
    border_color            : #e0e0e0,
    stripe_color            : #e0e0e0,
    stripe_type             : even
}

ops = 'Open Sans', sans-serif;
fa = normal normal normal 14px/1 FontAwesome;