.app-footer
    flex none
    color #fff
    background-color #5c524b
    &__content 
        position relative
        display flex
        padding-bottom 112px
        background url(../img/app-footer-bg.png) 125px bottom no-repeat
        @media only screen and (max-width: 900px)
            display block
        @media only screen and (max-width: 767px)
            padding-bottom 30px

    &__menu
        display flex
        flex 0 0 580px
        max-width 580px
        
        padding-top 35px
        
        @media only screen and (max-width: 900px)
            flex 0 0 100%
            max-width 100%
            margin-bottom 30px
        
        @media only screen and (max-width: 767px)
            flex-wrap wrap
        @media only screen and (max-width: 560px)
            display block
            text-align center
            
        ul, li 
            margin 0
            padding 0
            list-style-type none
            
        // 1-й уровень
        > ul 
            &:first-child 
                flex 0 0 180px
                max-width 180px
            &:nth-child(2)
                flex 0 0 204px
                max-width 204px
            &:last-child
                flex 0 0 230px
                max-width 230px
                @media only screen and (max-width: 767px)
                    margin-top 70px
                @media only screen and (max-width: 560px)
                    margin-top 30px
                
            @media only screen and (max-width: 900px)
                flex 0 0 33.33% !important
                max-width 33.33% !important
                
            @media only screen and (max-width: 767px)
                flex 0 0 50% !important
                max-width 50% !important
                
            @media only screen and (max-width: 560px)
                max-width none !important
            
                & ~ ul 
                    margin-top 30px
                
            li 
                a 
                    color #fff
                    font-size 20px
                    line-height 30px
                    font-weight: $fontWeight.bold
                    pointer-events none
                    &:hover
                        text-decoration none

            // 2-й уровень
            ul 
                margin-top 10px
                li
                    a 
                        display inline-block
                        position relative
                        
                        pointer-events auto
                        
                        color rgba(255,255,255,.6)
                        text-decoration none
                        
                        font-size 14px
                        font-weight: $fontWeight.ultra
                        line-height 19px
                        
                        padding-left 19px
                        
                        @media only screen and (max-width: 560px)
                            padding-left 0

                        
                        .fa
                            position absolute
                            left 6px
                            top -2px
                            
                            font-size 20px
                            
                            @media only screen and (max-width: 560px)
                                display none

                        &:hover
                            color rgba(255,255,255,1)
                            
                li ~ li
                    margin-top 2px
            
    &__address 
        flex 0 0 210px
        max-width 210px

        margin-left auto
        padding-top 36px
        font-size 14px
        font-weight : $fontWeight.ultra
        
        @media only screen and (max-width: 900px)
            padding-top 20px
            margin-right auto
            text-align center
        @media only screen and (max-width: 767px)
            position absolute
            left 50%
            bottom 20px
            margin 0
        @media only screen and (max-width: 560px)
            position static
            margin 0 auto 0 auto

        p 
            margin 0
        p ~ p
            margin-top 5px
        
        a 
            color #fff
            text-decoration none
            
            &:hover
                color #fff
                text-decoration underline

    &__contacts        
        margin-bottom 40px
        @media only screen and (max-width: 767px)
            margin-bottom 20px
            
            

    &__logo
        margin-bottom 18px
