<div block="b-modal-map" id="modal-map">
    <div elem="points">
        {% set item = masterPopup %}
        {% set thumbMods = 'popup' %}
        <div elem="point" data-coords="[55.737147,37.532834]">
            {% include "catalogue-thumb.html" %}
            {% include "catalogue-thumb.html" %}
        </div><!-- e:point -->

        <div elem="point" data-coords="[55.736800,37.532834]">
            {% include "catalogue-thumb.html" %}
            {% include "catalogue-thumb.html" %}
        </div><!-- e:point -->

        <div elem="point" data-coords="[55.736647,37.530834]">
            {% include "catalogue-thumb.html" %}
            {% include "catalogue-thumb.html" %}
        </div><!-- e:point -->
        {% set thumbMods = '' %}
    </div><!-- e:points -->
</div><!-- b:b-modal-map -->


