<div block="b-catalogue-card" mods="{{ cardMods }}">
    <div elem="content" mix="block:b-container">
        <h1 elem="header">Гончар Виктор Николаевич</h1><!-- e:header -->

        {% set thumbMods = "detailed" %}
        {% include "catalogue-thumb.html" %}

        {% if item.pricing %}
            <div elem="pricing">
                <div elem="header" class="h2">Цены на услуги</div><!-- e:header -->

                <div elem="pricing-titles">
                    <a href="#" elem="pricing-title" class="active" data-tab-index="0">Монтаж/Демонтаж</a><!-- e:pricing-title -->
                    <a href="#" elem="pricing-title" data-tab-index="1">Первый пуск</a><!-- e:pricing-title -->
                    <a href="#" elem="pricing-title" data-tab-index="2">Ремонт</a><!-- e:pricing-title -->
                    <a href="#" elem="pricing-title" data-tab-index="3">Системы управления</a><!-- e:pricing-title -->
                    <a href="#" elem="pricing-title" data-tab-index="4">Сервисное обслуживание</a><!-- e:pricing-title -->
                    <a href="#" elem="pricing-title" data-tab-index="5">Газоопасные работы</a><!-- e:pricing-title -->
                    <a href="#" elem="pricing-title" data-tab-index="6">Договор</a><!-- e:pricing-title -->
                    <a href="#" elem="pricing-title" data-tab-index="7">Аварийный Выезд</a><!-- e:pricing-title -->
                </div><!-- e:pricing-titles -->

                <div elem="pricing-bodys">
                    <div elem="pricing-body" class="active" data-tab-index="0">
                        <div block="b-catalogue-thumb" mods="pricing">
                            <div elem="body">
                                <div elem="main">
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                </div><!-- e:main -->
                                <div elem="aside" mods="contacts">
                                    <div elem="callback">
                                        <button block="b-button">оставить завку</button>
                                    </div><!-- e:callback -->

                                    <div elem="pricing-text" >
                                        Сервис ГазПросто поможет вам выбрать необходимую  услугу из широкого спектра представленных на сайте и оставить заявку на выезд мастера.
                                    </div><!-- e:pricing-text -->
                                </div><!-- e:aside -->
                            </div><!-- e:body -->
                        </div><!-- b:b-product-thumb -->
                    </div><!-- e:pricing-body -->
                    <div elem="pricing-body" data-tab-index="1">
                        <div block="b-catalogue-thumb" mods="pricing">
                            <div elem="body">
                                <div elem="main">
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                </div><!-- e:main -->
                                <div elem="aside" mods="contacts">
                                    <div elem="callback">
                                        <button block="b-button">оставить завку</button>
                                    </div><!-- e:callback -->

                                    <div elem="pricing-text" >
                                        Сервис ГазПросто поможет вам выбрать необходимую  услугу из широкого спектра представленных на сайте и оставить заявку на выезд мастера.
                                    </div><!-- e:pricing-text -->
                                </div><!-- e:aside -->
                            </div><!-- e:body -->
                        </div><!-- b:b-product-thumb -->
                    </div><!-- e:pricing-body -->
                    <div elem="pricing-body" data-tab-index="2">
                        <div block="b-catalogue-thumb" mods="pricing">
                            <div elem="body">
                                <div elem="main">
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                </div><!-- e:main -->
                                <div elem="aside" mods="contacts">
                                    <div elem="callback">
                                        <button block="b-button">оставить завку</button>
                                    </div><!-- e:callback -->

                                    <div elem="pricing-text" >
                                        Сервис ГазПросто поможет вам выбрать необходимую  услугу из широкого спектра представленных на сайте и оставить заявку на выезд мастера.
                                    </div><!-- e:pricing-text -->
                                </div><!-- e:aside -->
                            </div><!-- e:body -->
                        </div><!-- b:b-product-thumb -->
                    </div><!-- e:pricing-body -->
                    <div elem="pricing-body" data-tab-index="3">
                        <div block="b-catalogue-thumb" mods="pricing">
                            <div elem="body">
                                <div elem="main">
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                </div><!-- e:main -->
                                <div elem="aside" mods="contacts">
                                    <div elem="callback">
                                        <button block="b-button">оставить завку</button>
                                    </div><!-- e:callback -->

                                    <div elem="pricing-text" >
                                        Сервис ГазПросто поможет вам выбрать необходимую  услугу из широкого спектра представленных на сайте и оставить заявку на выезд мастера.
                                    </div><!-- e:pricing-text -->
                                </div><!-- e:aside -->
                            </div><!-- e:body -->
                        </div><!-- b:b-product-thumb -->
                    </div><!-- e:pricing-body -->
                    <div elem="pricing-body" data-tab-index="4">
                        <div block="b-catalogue-thumb" mods="pricing">
                            <div elem="body">
                                <div elem="main">
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                </div><!-- e:main -->
                                <div elem="aside" mods="contacts">
                                    <div elem="callback">
                                        <button block="b-button">оставить завку</button>
                                    </div><!-- e:callback -->

                                    <div elem="pricing-text" >
                                        Сервис ГазПросто поможет вам выбрать необходимую  услугу из широкого спектра представленных на сайте и оставить заявку на выезд мастера.
                                    </div><!-- e:pricing-text -->
                                </div><!-- e:aside -->
                            </div><!-- e:body -->
                        </div><!-- b:b-product-thumb -->
                    </div><!-- e:pricing-body -->
                    <div elem="pricing-body" data-tab-index="5">
                        <div block="b-catalogue-thumb" mods="pricing">
                            <div elem="body">
                                <div elem="main">
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                </div><!-- e:main -->
                                <div elem="aside" mods="contacts">
                                    <div elem="callback">
                                        <button block="b-button">оставить завку</button>
                                    </div><!-- e:callback -->

                                    <div elem="pricing-text" >
                                        Сервис ГазПросто поможет вам выбрать необходимую  услугу из широкого спектра представленных на сайте и оставить заявку на выезд мастера.
                                    </div><!-- e:pricing-text -->
                                </div><!-- e:aside -->
                            </div><!-- e:body -->
                        </div><!-- b:b-product-thumb -->
                    </div><!-- e:pricing-body -->
                    <div elem="pricing-body" data-tab-index="6">
                        <div block="b-catalogue-thumb" mods="pricing">
                            <div elem="body">
                                <div elem="main">
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                </div><!-- e:main -->
                                <div elem="aside" mods="contacts">
                                    <div elem="callback">
                                        <button block="b-button">оставить завку</button>
                                    </div><!-- e:callback -->

                                    <div elem="pricing-text" >
                                        Сервис ГазПросто поможет вам выбрать необходимую  услугу из широкого спектра представленных на сайте и оставить заявку на выезд мастера.
                                    </div><!-- e:pricing-text -->
                                </div><!-- e:aside -->
                            </div><!-- e:body -->
                        </div><!-- b:b-product-thumb -->
                    </div><!-- e:pricing-body -->
                    <div elem="pricing-body" data-tab-index="7">
                        <div block="b-catalogue-thumb" mods="pricing">
                            <div elem="body">
                                <div elem="main">
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котла отопительного мощность до 100 кВт <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж бойлера <span class="pricing-indent">2000 руб</span></p>
                                    <p>Монтаж котлового распределительного коллектора <span class="pricing-indent">2000 руб</span></p>
                                </div><!-- e:main -->
                                <div elem="aside" mods="contacts">
                                    <div elem="callback">
                                        <button block="b-button">оставить завку</button>
                                    </div><!-- e:callback -->

                                    <div elem="pricing-text" >
                                        Сервис ГазПросто поможет вам выбрать необходимую  услугу из широкого спектра представленных на сайте и оставить заявку на выезд мастера.
                                    </div><!-- e:pricing-text -->
                                </div><!-- e:aside -->
                            </div><!-- e:body -->
                        </div><!-- b:b-product-thumb -->
                    </div><!-- e:pricing-body -->
                </div><!-- e:pricing-bodys -->
            </div><!-- e:pricing -->
        {% endif %}

        {% if item.masters %}
            {% set thumbMods = "" %}
            <div block="b-catalogue-list">
                <div elem="header" class="h2">Мастера (3)</div><!-- e:header -->
                <div elem="items">
                    {% for item in item.masters.visible %}
                    <div elem="item">
                        {% include "catalogue-thumb.html" %}
                    </div><!-- e:item -->
                    {% endfor %}
                </div><!-- e:items -->

                <div elem="items" mods="hidden">
                    {% for item in item.masters.hidden %}
                    <div elem="item">
                        {% include "catalogue-thumb.html" %}
                    </div><!-- e:item -->
                    {% endfor %}
                </div><!-- e:items -->

                <div elem="more">
                    <a href="#" data-show="открыть больше" data-hide="свернуть"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                </div><!-- e:more -->
            </div><!-- b:b-catalogue-list -->

            <div elem="master">
                <div elem="header" class="h2">Специалисты компании</div><!-- e:header -->

                <div elem="master-items">
                    <a href="#">Монтажник</a> / <a href="#">Сервисный инженер</a>
                </div><!-- e:master-items -->
            </div><!-- e:master -->
        {% endif %}

        {% set reviewsMods = "detailed" %}
        {% include "catalogue-reviews.html" %}

        {% if item.text  %}
            <div elem="text-block" mods="about">
                <div elem="header" class="h2">
                    Подробная информация о специалисте
                </div><!-- e:header -->    

                <div elem="text">
                    <p>бразование <span class="text-indent">Диплом по специальности </span></p>

                    <p>Курсы повышения квалификации <span class="text-indent">"Снятие рабочего и учебного стресса. Телесно-ориентированные методы. Приемы работы с детьми с нарушениями речи",</span></p>

                    <p>Член ассоциаций врачей <span class="text-indent">Член Объединения логопедов-дефектологов, нейрореабилитологов Москвы.,</span></p>

                    <p>Специализация <span class="text-indent">Диагностика детей от 2 лет с  речевыми нарушениями;<br>
                        консультирование родителей;<br>
                        коррекция речевых нарушений: дислалия, дисграфия, дислексия, дизартрия, ОНР всех уровней, заикание, ЗРР, аутизм</span>
                    </p>
                </div><!-- e:text -->
            </div><!-- e:text-block -->
        {% endif %}
    </div><!-- e:contanier -->
</div><!-- b:b-catalogue-card -->