.b-catalogue-after
    border-top 1px dashed rgba(160,151,144,.61)
    padding-top 80px
    padding-bottom 80px 
    @media only screen and (max-width: 767px)
    	padding-top 40px
    	padding-bottom 0