= yaml =
pageTitle: Подробное описание. Компания без выбора адреса
bodyMods: 'catalogue-card catalogue-card_without-address'
bodyClasses: ''
scrollFixClasses: ''
contentClasses: ''
asideLeft: false
asideRight: false

layout: !!map
    header : true
    footer : true
    left : false
    right : false

crumbsKey : innerPage
filter : false
certificates: true
= yaml =

{% extends '_layout.html' %}

{% block main %}
    {% set item = companyDetailedNoAddress %}
    {% set cardMods = "company without-address" %}
    {% include "catalogue-card.html" %}
{% endblock %}
