= yaml =
pageTitle: Внутрення страница
bodyMods: inner-page
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'b-container'
asideLeft: false
asideRight: false

layout: !!map
    header : true
    footer : true
    left : false
    right : false

crumbsKey : innerPage
= yaml =

{% extends '_layout.html' %}

{% block main %}
<h1>Заголовок 1 уровня</h1>
<p>GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта. GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта.<br>
GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта.<br>GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта. GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта.<br>
GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта.</p>

<br><br>

<h2>Заголовок 2 уровня</h2>
<p>GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта. GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта.<br>
GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта.</p>

<br><br>

<h3>Заголовок 3 уровня</h3>
<p>GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта. GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта.<br>
GazProsto.ru — это единый сервис подбора специалистов по ремонту газового оборудования. Мы стремимся помочь людям оперативно найти надежного мастера для вашего уюта и комфорта.</p>

<br>

<h3>Списки</h3>

<ul block="b-ul">
    <li>Список</li>
    <li>Список</li>
    <li>Список</li>
</ul>


<ol block="b-ol">
    <li>Список</li>
    <li>Список</li>
    <li>Список</li>
</ol>

<br>

<h3>Таблицы</h3>
<table class="table2" style="width: 100%;">
    <tr>
        <th>Текст текст тсектс текст текст вытексттесктт</th>
        <th>Текст текст текс  текст текст текст текст текст текст текст текст текст текст тсе</th>
    </tr>
    <tr>
        <td>Текст текст тсектс текст текст вытексттесктт</td>
        <td>Текст текст текс  текст текст текст текст текст текст текст текст текст текст тсе</td>
    </tr>
    <tr>
        <td>Текст</td>
        <td>Текст текст текс  текст текст текст текст текст текст текст текст текст текст тсе</td>
    </tr>
    <tr>
        <td>Текст</td>
        <td>Текст текст текс  текст текст текст текст текст текст текст текст текст текст тсе</td>
    </tr>
    <tr>
        <td>Текст</td>
        <td>Текст текст текс  текст текст текст текст текст текст текст текст текст текст тсе</td>
    </tr>
    <tr>
        <td>Текст</td>
        <td>Текст текст текс  текст текст текст текст текст текст текст текст текст текст тсе</td>
    </tr>
    <tr>
        <td>Текст</td>
        <td>Текст текст текс  текст текст текст текст текст текст текст текст текст текст тсе</td>
    </tr>
</table>

{% endblock %}
